html,body{
  height:100%;
  width: 100%;
  padding:0;
  margin:0;
 
}

body{
  height:100%;
  width: 100%;
  font-family: sans-serif;
}

.App {
  align-items: center;
  background-color: #282a36;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  
}

.Box-and-Btn{
  margin-bottom: 20px;
  max-width: 700px;
  text-align: center;
  width:100%;
}

#button{
  background-color: purple;
  border:0;
  border-radius:10px;
  box-shadow: 0 4px 22px rgba(0, 0, 0,0.3); 
  color:white;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  height: 40px;
  width: 70px;
}

#input{
  border: 0;
  border-radius:10px;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.2); 
  font-size: 18px;
  outline: none;
  padding:10px;
  margin-right: 10px;
  width: 65%;
}

li{
  list-style: none;
}

#msg{
  font-size:18px;
  color:black;

}

.msg-box{
  background-color: white;
  margin-bottom:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
